<h1>Receitas encontradas:</h1>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= "#{pluralize(@recipes.length, 'resultado')} #{'encontrado'.pluralize(@recipes.length)} para: #{params[:query]}" %>

<div class="divisor"></div>

<%= render partial: 'shared/recipes_grid', locals: {recipes: @recipes, pending: false} %>

<div class="divisor-30"></div>

<%= link_to 'Voltar', root_path, class: "btn btn-outline-dark" %>