<h1>Receitas encontradas:</h1>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= "#{pluralize(@recipes.length, 'resultado')} #{'encontrado'.pluralize(@recipes.length)} para: #{params[:query]}" %>

<%= render partial: 'shared/recipe', collection: @recipes %>

<%= link_to 'Voltar', root_path %>