<div class="row">
  <% recipes.each_with_index do |recipe, index| %>  
    <div class="col-sm-6 col-lg-3 py-2">
      <%= render partial: 'shared/recipe', locals: {recipe: recipe, pending: pending} %>
    </div>
  <% end %>
</div>