<h2>Tipos de receita</h2>

<div class="divisor"></div>

<ul>
  <%= render partial: 'recipe_type', collection: @recipe_types %>
</ul>

<%= link_to "Novo tipo de receita", new_recipe_type_path, class: "btn btn-outline-dark" %>