<style>
  footer {
      position: fixed;
      height: 100px;
      bottom: 0;
      width: 100%;
  }
</style>


<footer class="page-footer font-small bg-light">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    Social Recipes | © Copyright 2014
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm text-right">
        FB-ICON
      </div>
      <div class="col-sm text-left">
        TWT-ICON
      </div>
    </div>
  </div>
</footer>