<ul class="sidebar navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-mitten"></i>
          <span>Tipo</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <% RecipeType.all.each do |recipe_type| %>
          <%= link_to recipe_type.name, recipe_type, class: "dropdown-item"%>
        <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-utensils"></i>
          <span>Cozinha</span>
        </a>
      </li>
    </ul>